.playing-card {
  height: calc(34 * var(--op-size-unit));
  z-index: 0;
}

.hand__label {
  padding-bottom: var(--op-space-small);
}

.hand__menu {
  width: 0;
  display: none;

  .card-padded {
    width: max-content;
    box-shadow: var(--op-shadow-medium);
  }
}

.hand {
  display: flex;


  .hand__card-group {
    display: flex;
    margin-right: calc(-18 * var(--op-size-unit));

    &:hover {
      position: relative;
      bottom: var(--op-space-small);
    }

    .playing-card,
    label {
      margin-right: calc(-18 * var(--op-size-unit));
      z-index: 1;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.hand--small {
    .playing-card {
      margin-right: -2rem;

      &:hover {
        position: relative;
        bottom: 0;
      }
    }
  }
}

.hand__card-group input[type="radio"]:checked+label {
  position: relative;
  bottom: var(--op-space-small);

  &:hover,
  &>*:hover {
    position: relative;
    bottom: 0;
  }
}

.hand__card-group input[type="radio"]:checked+.hand__menu {
  display: block;
  z-index: 100;
  position: fixed;
  bottom: 20rem;
}

.books {
  display: flex;
  gap: var(--op-space-x-small);
}