.hand__label {
  padding-bottom: var(--op-space-small);
}


// .hand__menu {
//   width: 0;
//   display: none;

//   .card-padded {
//     width: max-content;
//     border: var(--op-border-all);
//     box-shadow: var(--op-shadow-small);
//   }
// }

.hand {
  display: flex;

  * {
    z-index: 1;
  }

  .playing-card__label {
    margin-right: calc(-20 * var(--op-size-unit));

    .playing-card {
      width: calc(28 * var(--op-size-unit));

      &:hover {
        position: relative;
        bottom: var(--op-space-small);
      }
    }
  }

  // &.hand--small {
  //   .playing-card {
  //     margin-right: -2rem;

  //     &:hover {
  //       position: relative;
  //       bottom: 0;
  //     }
  //   }
  // }
}

input[type="radio"]:checked {
  &~label .playing-card {
    box-shadow: var(--op-shadow-large);
    position: relative;

    bottom: var(--op-space-small);

    // &:hover {
    //   bottom: 0;
    // }
  }
}

input[type="radio"]:checked~.hand__menu {
  display: block;
  position: fixed;
  bottom: 20rem;
}


.hand__card-group input[type="radio"]:checked+label .btn {
  background: blue;
}

.books {
  display: flex;
  gap: var(--op-space-x-small);
}