.opponent-list {
  display: flex;
  flex-direction: column;

  .opponent_list__summary,
  .opponent-list__details {
    padding: var(--op-space-medium);
  }

  .opponent-list__details {
    background-color: var(--op-color-neutral-plus-seven);
    display: flex;
    flex-direction: column;
    gap: var(--op-space-x-small);

    .books {
      display: flex;
      gap: var(--op-space-x-small);

      .playing-card {
        height: calc(20 * var(--op-size-unit));
      }
    }

    .playing-card {
      height: calc(16 * var(--op-size-unit));
    }
  }

  .opponent-list__opponent-information {
    display: flex;
    gap: var(--op-space-small);
  }
}